spring.application.name=your_application_name

spring.datasource.url=jdbc:postgresql://your_host:your_port/your_database
spring.datasource.username=your_db_username
spring.datasource.password=your_db_password
spring.datasource.driver-class-name=org.postgresql.Driver

server.port=8080

spring.flyway.enabled=true
spring.flyway.url=${spring.datasource.url}
spring.flyway.user=${spring.datasource.username}
spring.flyway.password=${spring.datasource.password}
spring.flyway.locations=classpath:db/migration

jwt.secret=your_super_secret_key_minimum_32_characters
jwt.expiration=3600000

springdoc.api-docs.path=/api-docs
springdoc.swagger-ui.path=/swagger-ui.html
springdoc.swagger-ui.enabled=true

logging.level.root=INFO
logging.level.com.task=DEBUG
logging.level.org.springframework.security=DEBUG
logging.level.org.springframework.web=DEBUG
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql=TRACE

logging.pattern.console=%d{yyyy-MM-dd HH:mm:ss} - %msg%n